@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    border: 1px dotted red;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

div {
    padding: 10px 50px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
}

.header-links {
    margin-left: auto;
    display: flex;
    padding: 0;
    gap: 10px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}

.content {
    display: flex;
    padding: 50px;
}

.top {
    background-color: #1f2937;
    gap: 24px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    padding: 0;
    color: #e5e7eb;
    width: 50%;
}

.top-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.signup {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 6px 28px;
    font-weight: bold;
}

.top-image {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #646c79;
    color: #e5e7eb;
}

.first {
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.first h2 {
    font-size: 32px;
    color: #1f2937;
    font-weight: 900;
    width: 100vw;
    text-align: center;
}

.info {
    padding: 0;
    flex: 0;
    text-align: center;
}

.illustration {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}

.second {
    background-color: #e5e7eb;
    color: #1f2937;
    flex-direction: column;
    gap: 10px;
}

.quote,
.attribution {
    padding: 0;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    align-self: center;
}

.attribution {
    font-weight: bold;
    font-size: 24px;
    align-self: flex-end;
}

.third {
    background-color: #3882f6;
    color: #f9faf8;
    /* justify-content: center; */
    margin: 50px;
    border-radius: 10px;
}

.third .text {
    gap: 0;
    flex: max-content;
}

.third .signup {
    border: 2px solid;
    align-self: center;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}