@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    border: 1px dotted red;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

div {
    padding: 10px 50px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
}

.header-links {
    margin-left: auto;
    display: flex;
    padding: 0;
    gap: 10px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}