@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    border: 1px dotted red;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

div {
    padding: 10px 50px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    display: flex;
}

.header-links {
    margin-left: auto;
    display: flex;
    padding: 0;
    gap: 10px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
    font-weight: 100;
}

.content {
    display: flex;
}

.top {
    background-color: #1f2937;
    padding: 50px;
    gap: 24px;
}

.top-text {
    padding: 0;
    color: #e5e7eb;
    width: 50%
}

.top-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.top-image {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    background-color: #646c79;
    color: #e5e7eb;
}